@import "vars";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}

label,
button,
svg {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.product-box {
    margin-bottom: 95px;
    margin-left: 34px;
    margin-right: 34px;

    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $colorSectionDark;
        text-align: center;
        margin-bottom: 6px;
    }

    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        text-align: center;
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 360px));
        gap: 30px;
        padding-top: 48px;
        padding-bottom: 48px;
        justify-content: center;
    }
}

.product_item {
    background: #f8f8f8;
    position: relative;

    &_hover_img {
        position: absolute;
        max-width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity $transitionSpeed;
    }

    &_img_main {
        max-width: 100%;
        height: auto;
    }

    &:hover .product_item_hover_img {
        opacity: 100%;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 16px;
        max-width: 100%;
        height: auto;
    }

    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorTextDark;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &_text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    &_price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        order: 2;
        flex-grow: 0;
        color: $colorSelectSite;
    }
}

.top_content_button {
    background-color: inherit;
    padding: 15px 39px;
    border: 1px solid $colorSelectSite;
    margin: 0 auto;
    justify-content: center;
    display: block;
    color: $colorSelectSite;
    transition: color $transitionSpeed, background-color $transitionSpeed;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    &:hover {
        background-color: $colorSelectSite;
        color: $colorSectionLight;
    }

    &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        transition: color $transitionSpeed;
    }
}
